:root{
    --nav-bg:rgb(233, 233, 233);
    --nav-pd: 10px 30px 10px     30px ;
}

body{
    margin: 0;
    font-family: "roboto",arial;
}

li{
    list-style: none;
}

.body-text{
    font-size: medium;
    color: rgb(26, 26, 26);
    font-weight: 400;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding:var(--nav-pd);

    background:var(--nav-bg);
}

.dropdown{
    background: rgb(36, 200, 91);
}
.dropdown-menu > ul{padding: 0; margin:0;}
.dropdown-menu > ul > li {padding: 10px;}
.dropdown-item > a{
    text-decoration: none;
    padding-left: 50px;
    text-shadow: 0.3px 0px 1.8px rgb(221, 182, 27);
    font-weight: 600;
    color:rgb(241, 198, 24);
}
.dropdown-item{
    border-bottom: 0.9px solid rgb(21, 157, 67);
}
#header{
}

#footer{
    background: var(--nav-bg);
}
